@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background: $background;
  opacity: 0.4;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  color: $white;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  text-align: center;
  display: block;

  &--hide {
    display: none;
  }

  &__title {
    margin: 0;
    padding: 0 0 0.4rem;
  }

  &__span {
    font-style: italic;
  }

  &__search,
  .search {
    margin: 8rem 0 0;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__wrapper {
      margin: 0;
    }

    &__input {
      color: $white;
      background: none;
      border: none;
      width: 300px;
      padding: 0.7rem;
      border-bottom: 0.09rem solid $white;
      text-align: center;
      margin-bottom: 2rem;
      transition: box-shadow 0.4s ease-in-out;

      &:focus {
        box-shadow: 0px 0px 10px 1px;
      }

      &::placeholder {
        color: $white;
        opacity: 0.5;
      }
    }
  }
}

.results {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--visible {
    display: flex;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
      border-bottom: 0.1rem solid lightgray;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    padding: 0;
    max-height: 500px;
    overflow: auto;
    list-style: none;
  }

  &__item {
    padding: 1rem;

    &:nth-child(even) {
      opacity: 0.7;
      text-align: right;
    }

    &--strong {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  &__link {
    text-decoration: none;
    font-style: italic;
    border-bottom: 1px solid $white;
    color: $white;
  }

  &__button {
    border: none;
    background: none;
    @include buttonDesign(2px, solid, $white);
    color: $white;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 3.5rem 0;
    padding: 0.7rem 3rem;
    position: relative;
    transition: color 0.5s ease-in-out;
    z-index: 1;

    &:hover {
      color: $background;
    }

    &:hover::before {
      width: 50%;
      transform: translatex(-10%);
    }

    &:hover::after {
      width: 50%;
      transform: translatex(-90%);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 0%;
      transform: translatex(-10%);
      background: $white;
      transition: width 0.5s ease-in-out;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 0%;
      transform: translatex(-90%);
      background: $white;
      transition: width 0.5s ease-in-out;
      z-index: -1;
    }
  }
}

.lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 4rem;
  height: 4rem;

  &--visible {
    display: block;
  }
}
.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: $mobile) {

  html {
    font-size: 12px;
  }

  .heading {
    
    &__search,
    .search {
      &__input {
        width: 200px;
      }
    }
  }

  .results {
    &__title {
      margin-bottom: 2rem;
    }

    &__list {
      max-height: 320px;
    }

    &__button {
      margin: 3rem 0 4rem 0;
      padding: 0.6rem 3rem;
    }
  }
}
